@page "/character"

@using EveStats.Services;

<h3>Character</h3>

@if (character == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h6>Character Name: </h6> <p>@character[Name]</p>
}

@code {
    
}
