@page "/ESIAddCharacter"

@using EveStats.Service.Helpers.Web
@using EveStats.Service.Web

<div class="container">
    <form method="post" action="#">

    </form>
</div>


@code {
    string[] _listOfScopes = ESIScopeListGenerator.ListOfScopes();
    string SSOLink = SSOAuthenticationService.GenerateSSOLink();
}
