<div class="subcontainer">
    <p><span class="key">Name:&nbsp;</span><span class="value">@*@CharacterName*@Sibius Aidon</span></p>
    <p><span class="value" id="wallet_balance">@*@Balance*@25,000,000</span></p>
    <p><span class="key">Skill Points:&npsp;</span><span class="value">@*@SkillPoints*@45,456,853</span></p>
    <div class="divider" />
    <div id="InfoBox">
        <InfoBox />
    </div>
</div>

@code {

}
