<div class="subcontainer">
    <p><span class="key">Name:&nbsp;</span><span class="value">@*@CharacterName*@</span></p>
    <p><span class="value" id="wallet_balance">@*@Balance*@</span></p>
    <p><span class="key">Skill Points:&npsp;</span><span class="value">@*@SkillPoints*@</span></p>
    <p><span class="key"></span></p>
</div>

@code {

}
